@model RegisterViewModel;

@{
    ViewData["Title"] = "Register Page";

}

<div class="intro-section" >
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7 mx-auto text-center" data-aos="fade-up">
                <h1>Login / Register</h1>

                <p><a asp-controller="home" asp-action="index" class="btn btn-primary">Explore Now</a></p>
            </div>
        </div>
    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="row ">
            <div class="col-lg-7">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <h2 class="mb-5 text-black"><strong>Register</strong></h2>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" class="form-control">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label asp-for="passwordConfirmation"></label>
                            <input asp-for="passwordConfirmation" class="form-control">
                            <span asp-validation-for="passwordConfirmation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label asp-for="City"></label>
                            <input asp-for="City" class="form-control">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label asp-for="phoneNumber"></label>
                            <input asp-for="phoneNumber" class="form-control">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label asp-for="ZipCode"></label>
                            <input asp-for="ZipCode" class="form-control">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <input type="submit" value="Register" class="btn btn-primary btn-lg px-5">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

